body#simpleshop_full{
	background-color:#c4e9f2;
	margin:0px;
	padding:0px;
	color:#999999;
	font-family:"Trebuchet MS", Arial;
	font-size:14px;
	text-align:center;
	line-height:1.5em; /* vertical spacing between your lines of text*/
}
body#simpleshop_full td{
	font-size:12px;
}
body#simpleshop_full a, 
body#simpleshop_full a:link, 
body#simpleshop_full a:visited {
	color:#7abce5;
}
body#simpleshop_full a:hover {
	color:#c4e9f2;
	text-decoration:none;
}
body#simpleshop_full #wrapper {
	width:960px;
	margin:0px auto; /*centers your design on the page*/
	text-align:left;
}
body#simpleshop_full #header {
	height:84px;
	width:960px;
}
body#simpleshop_full #logo {
	width:229px; /*change this width and height to match your logo image*/
	height:46px;
	float:left;
	margin:23px 0 0 23px;
}
body#simpleshop_full #admin_page {
	width:221px; /*change this width and height to match your slogan image*/
	height:45px;
	float:right;
	margin:25px 23px 0 0;
}
body#simpleshop_full #menu_container{
	width:620px;
	height:30px;
	clear:both;
}
body#simpleshop_full #menu_container ul{
	padding:0 0 0 4px;
	list-style:none;
	margin:0;
}
body#simpleshop_full #menu_container li{
	list-style:none;
	margin:0;
	padding:0;
}
body#simpleshop_full #menu_container li{
	display:block;
	float:left;
	margin:0 2px;
	background:#7abce5 url(tab_blue_left.gif) left no-repeat;
}
body#simpleshop_full #menu_container li a{
	display:block;
	float:left;
	height:20px;
	padding:5px;
	color:#FFFFFF;
	text-decoration:none;
	text-transform:uppercase;
	background:url(tab_blue_right.gif) right no-repeat;
}

body#simpleshop_full #menu_container li a:hover,
body#simpleshop_full #menu_container li.current a{
	color:#7abce5;
	background:url(tab_white_right.gif) right no-repeat;
}
body#simpleshop_full #menu_container li a:hover{
	text-decoration:underline;
}
body#simpleshop_full #menu_container li:hover,
body#simpleshop_full #menu_container li.current{
	background:#FFFFFF url(tab_white_left.gif) left no-repeat;
}
body#simpleshop_full #menu_container li a span{
	display:block;
	float:left;
	padding:2px 6px 0 0;
}

body#simpleshop_full #container{
	background-image:url(content_bottom.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	background-color:#FFF;
	min-height:200px;
	padding-bottom:20px;
}
body#simpleshop_full #container .top{
	width:960px;
	height:5px;
}
body#simpleshop_full #container .content{
	padding:23px;
}
body#simpleshop_full #container .left_column{
	width:470px;
	float:left;
	padding-right:15px;
	border-right:1px solid #dddddd;
}
body#simpleshop_full #container .right_column{
	width:400px;
	float:right;
	
}
body#simpleshop_full input.shop_input{
	border:1px solid #dddddd;
	background-color:#fafafa;
	padding:4px;
	height:27px;
}
body#simpleshop_full textarea.shop_input{
	border:1px solid #dddddd;
	background-color:#fafafa;
	padding:4px;
}
body#simpleshop_full hr.clear {
	clear:both;
	visibility:hidden;
	margin:0px;
	padding:0px;
}
body#simpleshop_full .preview{
	width:386px;
	border-top:1px dashed #dddddd;
	border-bottom:1px dashed #dddddd;
	padding:10px 0px;
	text-align:center;
}


body#simpleshop_full .simpleshop_product_name{
	font-weight:bold;
}


body#simpleshop_full h3{
	font-size:14px;
	background-color:#7abce5;
	color:#FFFFFF;
	padding:3px 5px;
	margin:3px 0;
}