html{
	padding: 0;
	margin: 0;
}

body{
	padding: 0;
	margin: 0;
	font-family: "Lucida Grande", arial, sans-serif;
	font-size: 100%;
}

#container{
	margin: 0 auto 0 auto;
	width: 700px;
}

#container_inner{
	float: left;
	width: 700px;
	margin: 30px 0 0 0;
	border: 1px solid #333;
	background: #e5e5e5;	
}

#footer{
	float: left;
	padding: 10px 0 30px 0!important;
	font-size: 80%;
	color: #999;
}

#header{
	width: 685px;
	height: 73px;
	padding: 27px 0 0 15px;
	background: url(../images/header.png) repeat-x;
}

#header h1, #header h1 a, #header h1 a:visited, #header h1 a:hover {
	padding:0 15px 0 0;
	margin: 0;
	font-size:20px;
	color: #fff!important;
	font-weight:normal;
	float: left;
	text-decoration: none;
}

#header h2, #header h2 a, #header h2 a:visited {
	padding:5px 0 0 0;
	margin: 0;
	font-size:15px;
	color: #CC4641!important;
	font-weight:normal;
	text-decoration: none;
}

#header h2 a:hover {
	text-decoration: underline!important;
}


#main{
	float: left;
	padding: 0 15px 15px 15px;
}

#content{
	float: left;
	width:500px;
	background: #fff;
	padding: 0 0 15px 0;
}

#right{
	float: left;
	width: 150px;
	padding: 0 0 0 15px;
}

#content h1 {
	background: #edf3fe;
	width: 485px;
	padding: 10px 0 10px 15px;
	margin: 0;
	font-size:16px;
	color: #000;
	font-weight:normal;

}

#content h1 a, #content h1 a:visited{
	text-decoration: none!important;
	color: #000!important;
}

#content h1 a:hover{
	text-decoration: underline!important;
}

#content p {
	font-size: 80%;
	padding-left: 15px;
	padding-right: 15px;
}

#right p{
	font-size: 80%;
}

#content ul{
 font-size: 80%;
 padding: 0 0 0 30px;
}

#right ul{
	font-size: 80%;
	padding: 0 0 0 15px;
	margin: 0;
}

#content li {
	color: #999;
	list-style-type: square;

}

#right li {
	color: #999;
	list-style-type: square;
		margin: 0 0 8px 0!important;
}

a,a:visited {
	color: #386597!important;
}

a:hover{
	color: #000!important;
}

img {
	border: none;
}
#player, #youtube {
	padding-left:15px;
}